<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>Contact about the Ruby on Rails Tutorial sample app at the <a href="http://www.railstutorial.org/#contact" target="_blank">tutorial's contact page.</a></p>